@media screen and (min-width: 480px) and (max-width: 768px) {
  .our__customer {
    display: inline-block;
column-count: 2;
    &__title {
      display: flex;
      
      margin: auto;
      margin-top: 60px;
      justify-content: center;
      margin-bottom: 50px;
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 121%;
      text-align: center;
      letter-spacing: 0.03em;
    }

    &__box {
      
      margin-bottom: 30px;
      padding: 16px 32px 16px 32px;
      width: 210px;
      height: 92px;
      border: 1px solid #afb1b8;
      box-sizing: border-box;
      border-radius: 4px;
      justify-content: center;
      text-align: center;

      &:hover {
        fill: var(--brand-color);
        border-color: var(--brand-color);
        transition-duration: 250ms;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .link__customer:hover {
    fill: var(--brand-color);
    border-color: var(--brand-color);
    transition-duration: 250ms;
  }}

@media screen and (min-width: 768px) and (max-width:1200px) {.our__customer {
      display: inline-block;
        column-count: 3;
    &__title {
      display: flex;
      margin: auto;
      justify-content: center;
    
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 121%;
      text-align: center;
      letter-spacing: 0.03em;
      padding: 60px 15px 60px 15px;
    }

    &__box {
      
      margin-bottom: 30px;
      padding: 16px 32px 16px 32px;
      width: 226px;
      height: 92px;
      border: 1px solid #afb1b8;
      box-sizing: border-box;
      border-radius: 4px;
      justify-content: center;
      text-align: center;

      &:hover {
        fill: var(--brand-color);
        border-color: var(--brand-color);
        transition-duration: 250ms;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .link__customer:hover {
    fill: var(--brand-color);
    border-color: var(--brand-color);
    transition-duration: 250ms;
  }}

@media screen and (min-width: 1200px) {.our__customer {
    display: flex;
    margin-bottom: 60px;

    &__title {
      display: flex;
      margin: auto;
      justify-content: center;
      margin-bottom: 50px;
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 121%;
      text-align: center;
      letter-spacing: 0.03em;
      margin-top: 60px;
    }

    &__box {
      margin-right: 30px;
      padding: 16px 32px 16px 32px;
      width: 170px;
      height: 92px;
      border: 1px solid #afb1b8;
      box-sizing: border-box;
      border-radius: 4px;
      justify-content: center;

      &:hover {
        fill: var(--brand-color);
        border-color: var(--brand-color);
        transition-duration: 250ms;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .link__customer:hover {
    fill: var(--brand-color);
    border-color: var(--brand-color);
    transition-duration: 250ms;
  }}


// .our__customer {
//   display: flex;
//   &__title {
//     display: flex;
//     margin: auto;
//     justify-content: center;
//     margin-bottom: 50px;
//     font-family: var(--main-font);
//     font-style: normal;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 121%;
//     text-align: center;
//     letter-spacing: 0.03em;
//   }
//   &__box {
//     margin-right: 30px;
//     padding: 16px 32px 16px 32px;
//     width: 170px;
//     height: 92px;
//     border: 1px solid #afb1b8;
//     box-sizing: border-box;
//     border-radius: 4px;
//     justify-content: center;

//     &:hover {
//       fill: var(--brand-color);
//       border-color: var(--brand-color);
//       transition-duration: 250ms;
//     }
//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }
// .link__customer:hover {
//   fill: var(--brand-color);
//   border-color: var(--brand-color);
//   transition-duration: 250ms;
// }
