.main__title {
  margin: 0 auto;
  width: 696px;
  padding-top: 200px;
  justify-content: center;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 136%;
  letter-spacing: 0.06em;
  color: var(--third-color);
}
