.icon {
  &__modal {
    position: fixed;
    margin: 20px 50px 20px 50px;
  }
  &__contact {
    margin-right: 10px;
    fill: var(--secondary-color);
    & :hover {
      fill: var(--brand-color);
      transition-duration: 250ms;
    }
  }

  &__main {
    margin-bottom: 30px;
  }

  &__footer {
    margin-left: 72px;
    &__send {
      display: flex;
      padding-left: 24px;
    }
  }
}
