@media screen and (min-width: 480px) and (max-width: 768px) {
  .icon__main {
    width: 450px;
    height: 110px;
    background-color: var(--third-background-color);
    border-radius: 4px;
  }
}

// @media screen and (min-width: 768px) and (max-width:1200px) {}

@media screen and (min-width: 1200px) {

.icon {
  &__modal {
    position: fixed;
    margin: 20px 50px 20px 50px;
  }
  &__contact {
    margin-right: 10px;
    fill: var(--secondary-color);
    & :hover {
      fill: var(--brand-color);
      transition-duration: 250ms;
    }
  }

  &__main {
    margin-bottom: 30px;
  }

  &__footer {
    margin-left: 72px;
    &__send {
      display: flex;
      padding-left: 24px;
    }
  }
}
}