@media screen and (min-width: 320px) and (max-width: 768px) {
  .logo__menu__webstudio {
    width: 145px;
    height: 31px;
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-size: 26px;
    line-height: 75%;
    color: var(--main-color);
    display: flex;
  }
  .logo__footer__webstudio {
    color: var(--third-color);
    font-family: var(--secondary-font);
    font-style: normal;
    font-size: 26px;
    line-height: 191%;
  }
  .logo--text {
    color: var(--brand-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .logo__menu__webstudio {
    width: 145px;
    height: 31px;
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-size: 26px;
    line-height: 75%;
    color: var(--main-color);
    display: flex;
  }
  .logo__footer__webstudio {
    color: var(--third-color);
    font-family: var(--secondary-font);
    font-style: normal;
    font-size: 26px;
    line-height: 191%;
  }

  .logo--text {
    color: var(--brand-color);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .logo {
    &__menu__webstudio {
      width: 145px;
      height: 31px;
      margin-right: 93px;
      font-family: var(--secondary-font);
      font-style: normal;
      font-size: 26px;
      line-height: 75%;
      color: var(--main-color);
      display: flex;
    }
    &__footer__webstudio {
      color: var(--third-color);
      font-family: var(--secondary-font);
      font-style: normal;
      font-size: 26px;
      line-height: 191%;
    }
    &--text {
      color: var(--brand-color);
    }
  }
}
