.button {
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--brand-color);
  border: none;

  & .button:hover {
    color: var(--third-color);
    background-color: var(--brand-color);
    transition-duration: 250ms;
  }

  &__main {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--brand-color);
    border: none;
  }

  &__main--text {
    font-size: 16px;
    line-height: 188%;
    color: var(--third-color);
    font-weight: 700;
  }
}
