.link {
  &__menu {
    &__section--a,
    &__social--a {
      font-size: 14px;
      font-weight: 500;
      line-height: 146%;
    }
    &__social--a {
      color: var(--secondary-color);
      text-decoration: none;

      &:hover {
        color: var(--brand-color);
        transition-duration: 250ms;
      }
    }

    &__section--a {
      position: relative;
      color: var(--main-color);
      &:hover {
        color: var(--brand-color);
        transition-duration: 250ms;
      }
    }
    &__email {
      margin-right: 50px;
    }
  }
  &__customer {
    background-color: var(--main-background-color);
    fill: var(--main-icon-color);
  }
}

.link__footer__social--a {
  font-size: 14px;
  line-height: 171%;
  font-style: normal;
  color: var(--secondary-color);
  transition-duration: 250ms;

  &:hover {
    color: var(--brand-color);
    transition-duration: 250ms;
  }
}
