@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    min-width: 320px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  .our__strengths__container {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    min-width: 768px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  .our__strengths__container {
    max-width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
    column-count: 2;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0px 200px;
    margin: 0 auto;
  }
  .our__strengths__container {
    padding-top: 94px;
    padding-bottom: 60px;
    column-count: 4;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0px 200px;
    margin: 0 auto;
  }

  .our__strengths__container {
    padding-top: 94px;
    padding-bottom: 60px;
    column-count: 4;
  }
}
// @media screen and (min-width: 480px) and (max-width: 768px) {}

// @media screen and (min-width: 768px) and (max-width:1200px) {}

// @media screen and (min-width: 1200px) {}

// .container {
//   width: 1200px;
//   margin: 0 auto;

//   &__footer {
//     display: flex;
//   }
// }
